//- Step 1
extends ../_layout.pug

block vars 
  - var step = 3
  - var backLink = "/multistep-form/step-2/"

block head_extras 
  link(rel="stylesheet", href="../styles.css")

block content
  h1 Pick add-ons
  p.form__subtitle Add-ons help enhance your gaming experience. 

  .add_on
    label.add_on__label
      span.add_on__label_text--primary
