//- Step 1
extends ../_layout.pug

block vars 
  - var step = 4
  - var backLink = "/multistep-form/step-3/"
  - var end = false
  - var buttonText = "Confirm"
  - var formAction = "/multistep-form/finish/"

block head_extras 
  link(rel="stylesheet", href="../styles.css")

block submit_button  
  button(type="submit").button_final Confirm

block body_extras
  script(src="../app.js")
  script window.app.setupStepFour();

block content
  h1 Finishing up
  p.form__subtitle Double-check everything looks OK before confirming. 

  .summary
    .summary__plan 
      .summary__row
        .summary_col 
          p 
            strong Arcade (Yearly)
          a(href="/multistep-form/step-3/") Change
        .summary_col
          strong $90/yr

    .summary__add_ons

  .summary__total 
    .summary__row
      .summary__col Total (per year)
      .summary__col
        strong $120/yr
    
