//- Step 1
extends ../_layout.pug

block vars 
  - var step = 4
  - var backLink = "/multistep-form/step-3/"
  - var end = true

block head_extras 
  link(rel="stylesheet", href="../styles.css")

block content
  h1 Summary
