//- Step 1
extends ../_layout.pug

block vars 
  - var step = 2
  - var backLink = "/multistep-form/"
  - var formAction = "/multistep-form/step-3/"

block head_extras 
  link(rel="stylesheet", href="../styles.css")

block body_extras
  script(src="../app.js")
  script(src="./script.js")
  script(type="text/javascript") window.app.setupStepTwo();

block content
  h1 Select your plan 
  p.form__subtitle You have the option of monthly or yearly billing.

  .plan_select
    input(type="radio", name="plan", id="arcade", value="arcade")
    label(for="arcade").plan_select__option
      img(src="../assets/images/icon-arcade.svg", alt="Arcade plan")
      span.plan_select__info
        span.plan_select__heading Arcade 
        span.plan_select__subtitle $9/mo
        span.plan_select__subtitle--yearly $90/yr
        span.plan_select__promo 2 months free
      
    input(type="radio", name="plan", id="advanced", value="advanced")
    label(for="advanced").plan_select__option
      img(src="../assets/images/icon-advanced.svg", alt="Advanced plan")
      span.plan_select__info 
        span.plan_select__heading Advanced 
        span.plan_select__subtitle $12/mo
        span.plan_select__subtitle--yearly $120/yr
        span.plan_select__promo 2 months free
      
    input(type="radio", name="plan", id="pro", value="pro")
    label(for="pro").plan_select__option
      img(src="../assets/images/icon-pro.svg", alt="Pro plan")
      span.plan_select__info 
        span.plan_select__heading Pro 
        span.plan_select__subtitle $15/mo
        span.plan_select__subtitle--yearly $150/yr
        span.plan_select__promo 2 months free

  .billing_duration 
    span.billing_duration__text Monthly
    input(type="checkbox", name="billing_duration", id="billing_duration").billing_duration__checkbox
    label(for="billing_duration").billing_duration__label 
    span.billing_duration__text Yearly
    
      
