doctype html 
html(lang="en")
  head
    title QR Code
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
    link(rel="stylesheet", href="style.css")

  body
    main 
      .panel
        .qr_code(role="img" aria-label="QR Code" title="Scan this QR code to visit Frontend Mentor")

        h1 Improve your front-end skills by building projects
        p Scan the QR code to visit Frontend Mentor and take you coding skills to the next level

  