//- Step 1
extends _layout.pug

include ./includes/form-mixin.pug

block vars 
  - var step = 1
  - var formAction = "/multistep-form/step-2/"

block head_extras 
  link(rel="stylesheet", href="./styles.css")

block content
  h1 Your Info
  p.form__subtitle Please provide your name, email address, and telephone number.

  form.form__form(action="/multistep-form/step-2/" method="POST")
    +form-field("name", "Name", "text", "", placeholder="e.g. Stephen King")
    +form-field("email", "Email Address", "email", "", placeholder="e.g. stephenking@lorem.com")
    +form-field("phone", "Phone Number", "number", "This field is required", placeholder="e.g. 1 234 567 890")

